<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Agri-Tech</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  </head>
  <style>
		h1 {
			color: mediumseagreen;
			text-align: center;
		}
		.warning {
			color: red;
			font-weight: bold;
			text-align: center;
		}
		.card{
		margin-top: 20px;
		color: white;
		}
		.container{
		background:Grey;
		font-weight: bold;
		padding-bottom:10px;
		padding-top:10px;
		border-radius: 15px;
		}
		.navbar-nav .nav-item:hover .nav-link {
			background-color: black; 
			color: white; 
			border-radius: 10px;
		}
		
		
	</style>



<body class="bg-dark" >
<!--=======================navbar=====================================================-->
<nav class="navbar navbar-expand-lg navbar-dark bg-light">
  <div class="container-fluid">
    <a class="navbar-brand bg-light" style="color:green" href="/"><h><i><b>&nbsp;Agri-Tech&nbsp;</b></i></h></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav">
		<li class="nav-item">
		<h4><b>CROP RECOMMENDATION</b></h4>
		</li>
      </ul>
	</div>
        <button class="btn btn-outline-dark justify-content-center" style="background:#7234fa" type="submit"><b>Login</b></button>
    </div>
  </div>
</nav>
<!--==========================================================================================-->
  <div class="container my-3 mt-4">
<!-- adding form-->
      <form action="/predict" method="POST">
          <div class="row mt-2 justify-content-center">
              <div class="col-md-4 text-center">
					<label  class="text-light" for="Nitrogen">Nitrogen (N)</label>
					<input type="number" id="Nitrogen" name="Nitrogen" placeholder="Enter the Nitrogen Value" class="form-control text-center" required step="0">
				</div>
          </div>
		  <div class="row mt-2 justify-content-center">
			<div class="col-md-4 text-center">
				<label class="text-light" for="Phosporus">Phosphorus (P)</label>
				<input type="number" id="Phosporus" name="Phosporus" placeholder="Enter the Phosphorus Value" class="form-control text-center" required step="0">
			</div>
		  </div>
          <div class="row mt-2 justify-content-center">
			<div class="col-md-4 text-center">
				<label class="text-light" for="Potassium">Potassium (K)</label>
				<input type="number" id="Potassium" name="Potassium" placeholder="Enter the Potassium Value" class="form-control text-center" required step="0">
			</div>
		  </div>
		  <div class="row mt-2 justify-content-center">
				<div class="col-md-4 text-center">
					<label class="text-light" for="Temperature">Temperature</label>
					<input type="number" step="0.01" id="Temperature" name="Temperature" placeholder="Enter the Temperature Value in °C" class="form-control text-center" required step="0">
				</div>
		   </div>
		   <div class="row mt-2 justify-content-center">
				<div class="col-md-4 text-center">
					<label class="text-light" for="Humidity">Humidity</label>
					<input type="number" step="0.01" id="Humidity" name="Humidity" placeholder="Enter the Humidity Value in %" class="form-control text-center" required step="0">
				</div>
			</div>

        <div class="row mt-2 justify-content-center">
			<div class="col-md-4 text-center">
				<label class="text-light" for="Rainfall">Rainfall</label>
				<input type="number" step="0.01" id="Rainfall" name="Rainfall" placeholder="Enter the Rainfall Value in mm" class="form-control text-center" required>
			</div>
		</div>
		<div class="row mt-2 justify-content-center">
			<div class="col-md-4 text-center">
				<label class="text-light" for="pH">pH</label>
				<input type="number" step="0.01" id="Ph" name="Ph" placeholder="Enter the pH value" class="form-control text-center" required step="0">
			</div>
		</div>



           <div class="row mt-4 ">

           <div class="col-md-12 text-center ">
				<button type="submit" class="btn btn-outline-dark justify-content-center " style="background:#7234fa;"><b>Recommend</b></button>
			</div>
			</div>
      </form>


      <div class="row justify-content-center">
       {% if result %}
		<div class="card bg-dark text-center col-md-6 ">
		  <div class="card-body">
			<h5 class="card-title">Recommend Crop is:</h5>
			<p class="card-text " style="background:green">{{ result }}</p>
		  </div>
		</div>
	   {% endif %}
	</div>

  </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  </body>
</html>